.container {
  display: flex;
  flex-wrap: wrap;
}

.heading {
  width: 100%;
  flex: none;
  border-bottom: 1px solid var(--color-neutral-2);
}

.sidebar {
  flex-basis: 256px;
  flex-grow: 1;
}

.content {
  min-width: 50%;
  flex-basis: 0;
  flex-grow: 999;
  overflow: hidden;
}
