:root {
  /* Font-families */
  --ff-system: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --ff-heading: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  --ff-mono: Hack, Consolas, 'Lucida Console', monospace;

  /* Size units and font sizes */
  --px: calc(1 / 16 * 1rem); /* 1 */
  --u: calc(8 / 16 * 1rem); /* 8 */

  --s: calc(2 * var(--u)); /* 16 */
  --fs-s: calc(var(--s) - var(--u) / 2);

  --m: calc(3 * var(--u)); /* 24 */
  --fs-m: calc(var(--m) - var(--u));

  --l: calc(4 * var(--u)); /* 32 */
  --fs-l: calc(var(--l) - var(--u));

  --xl: calc(5 * var(--u)); /* 40 */
  --fs-xl: calc(var(--xl) - var(--u));

  --xxl: calc(6 * var(--u)); /* 48 */
  --fs-xxl: calc(var(--xxl) - var(--u));

  /* Colors */
  --color-neutral-0: #ffffff;
  --color-neutral-1: #f1f1f1;
  --color-neutral-2: #e3e4e4;
  --color-neutral-3: #c7c8c9;
  --color-neutral-4: #919294;
  --color-neutral-5: #323233;

  --color-accent-1-light: #ff5b4c;
  --color-accent-1: #f24130;
  --color-accent-1-dark: #d92616;

  /* Shadows */
  --shadow-1: 0 2px 4px 1px rgba(0, 0, 0, 0.4);

  /* Border radii */
  --radius-pill: 9999em;
}

@custom-media --mobile-s (min-width: 320px);
@custom-media --mobile-m (min-width: 375px);
@custom-media --mobile-l (min-width: 425px);
@custom-media --tablet (min-width: 768px);
@custom-media --laptop (min-width: 1024px);
@custom-media --laptop-l (min-width: 1440px);
@custom-media --4k (min-width: 2560px);
