/* DEFAULT look */
.default .backdrop {
  border: 1px solid currentColor;
  border-radius: inherit;
}
/* :hover */
.default:hover:not(:disabled) .backdrop,
.default:global(.--hover):not(:disabled) .backdrop {
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-width: 2px;
}
/* :focus */
:global(.with-focus-ring) .default:focus .backdrop,
.default:global(.--focus) .backdrop {
  background-color: var(--color-neutral-2);
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-width: 2px;
}
/* :active */
.default:active:not(:disabled) .backdrop,
.default:global(.--active):not(:disabled) .backdrop {
  background-color: var(--color-neutral-1);
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-width: 2px;
}
/* :disabled */
.default:disabled {
  opacity: 0.3;
}
