@import 'assets/css/variables.css';

.container {
  margin-bottom: var(--unit);
}

.icon-container {
  width: var(--lh-m);
  height: var(--lh-m);
  margin-right: var(--unit);
  display: inline-block;
  vertical-align: top;
  cursor: default;
}
.icon-circle {
  width: var(--lh-m);
  height: var(--lh-m);
}
.icon-circle-backdrop {
  border-radius: 50%;
  border: 1px solid var(--color-neutral-2);
  background-color: var(--color-neutral-1);
}

.radio {
  position: absolute;
  width: auto;
  height: auto;
  opacity: 0;
}

.container:hover .icon-circle-backdrop,
:global(.with-focus-ring) .radio:focus + .label .icon-circle-backdrop {
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border: 2px solid var(--color-neutral-3);
}

.icon-circle-fill {
  border-radius: 50%;
  transform: scale(0, 0);
  /* transition-property: transform;
  transition-duration: 80ms; */
  transition-timing-function: linear;
  background-color: var(--color-accent-1-light);
}

.radio:checked + .label .icon-circle-fill {
  transform: scale(1, 1);
}

.container:hover .radio:checked + .label .icon-circle-backdrop,
:global(.with-focus-ring) .radio:checked:focus + .label .icon-circle-backdrop {
  border-color: var(--color-accent-1-dark);
}

:global(.with-focus-ring) .container:focus-within .backdrop {
  background-color: var(--color-neutral-2);
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
}
